*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #593710;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23e1e1e1' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

h3{
    color: powderblue;
    text-align: justify;
    padding: 10px;
    font-size: 35px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 90%;
    margin: auto;
}

/*Estilos de la Navegación*/

.nav-main{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.nav-logo{
    width: 80px;
}

.nav-main ul{
    display: flex;
}

.nav-main ul li{
    padding: 10px;
}
.nav-main ul li a{
    padding: 2px 8px;
}

.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}

hr{
    margin: 10px 0px;
}

/*Estilos principal*/

.principal{
    width: 100%;
    height: 550px;
    background: url(/images/Foto1transparente.jpg) no-repeat center center/cover;
    padding: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.boton{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 30px;
    background: #262626;
    color: powderblue;
    font-size: 20px;
    border: 1px solid #fff;
    margin: 10px 0px;
}

.boton:hover{
    opacity: 0.95;
    border-bottom: 2px solid white;
}

.principal h2,
.principal p{
    margin-bottom: 10px;
}

.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    font-size: 2rem;
    color: whitesmoke;
}

.titular{
    color: gold;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-weight: bolder;
}

.parrafo{
    color: greenyellow;
    padding: 20px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 25px;
}

/*Productos Destacados*/

.destacados{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 10px 0px;
}

.destacados img{
    width: 100%;
    height: 90%;
}

.destacados h4{
    font-size: 20px;
    margin: 10px 0px;
    color: powderblue;
}

.destacados a{
    padding: 10px 0px;
    display: inline-block;
    font-weight: bold;
}

/*Redes sociales y footer*/

.redes{
    background: #2f3640;
    margin-top: 150px;
    padding: 25px;
}

.redes h3{
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-container{
    font-size: 15px;
    padding: 20px 0px;
    text-align: center;
    padding-bottom: 20px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a{
    margin: 0px 30px;
}

.links a i{
    font-size: 35px;
}

#face{
    color: blue;
}

#insta{
    color: orangered;
}

#whats{
    color: green;
}

#mail{
    color: red;
}

@media (max-width: 750px){

    .menu-btn{
        display: block;
    }

    .nav-main ul.nav-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #262626;
        height: 100%;
        padding: 30px;
        opacity: .85;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
    }

    .nav-main ul.nav-menu.show{
        transform: translateX(-15px);
    }

    .nav-main h3{
        margin-right: 40px;
    }

    .destacados{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 610px) {
    .destacados{
        grid-template-columns: repeat(1, 1fr);
    }
}